<nav>
    <div class="header">
        <h1>ESP Pin Control</h1>
        <a href="/" class="header-link">Головна</a>
        <a href="/view" class="header-link">Дашбоард</a>
        <a href="/control" class="header-link">Піни</a>
        <a href="/chart" class="header-link">Графік</a>
        {{!-- <a href="/files" class="header-link"><i data-lucide="file" class="w-5 h-5 mr-2"></i>Files</a> --}}
    </div>
</nav>
    